<p>coches works!</p>

<div style="float: left; margin-left: 30px;">
  <!--formCoche.reset(); nos limpia el formulario sin que de error en ninguna validacion  -->
    <form #formCoche="ngForm" style="margin: 5% 25% 10% 10%; width: 200px;"
     (ngSubmit)="onSubmit(); formCoche.reset();">
      <p>
        <label>Nombre:</label>
        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="coche.nombre"
        autofocus required>
        <!--class="alert alert-danger" proporciona un panel de alerta  -->
        <span *ngIf="nombre.touched && !nombre.valid" class="alert alert-danger">
          El nombre del coche es incorrecto
        </span>
      </p>

      <p>
        <label>Caballaje</label>
        <!-- pattern es una expresion regular para realizar validaciones
          pattern="[0,9]+" solo aceptara valores del 0 al 9 y el + es que se pueden repetir-->
        <input type="text" name="caballaje" #caballaje="ngModel" [(ngModel)]="coche.caballaje"
        required pattern="[0-9]+">
        <span *ngIf="caballaje.touched && !caballaje.valid">
          El caballaje del coche es incorrecto
        </span>
      </p>


      <p>
        <label>Color</label>
        <!-- pattern es una expresion regular para realizar validaciones
          pattern="[a-zA-z#]+" solo aceptara valores del A a la Z  en May/min, y el simbolo #
          y el + es que se pueden repetir-->
        <input type="text" name="color" #color="ngModel" [(ngModel)]="coche.color" required pattern="[a-zA-z#]+">
        <span *ngIf="color.touched && !color.valid">
          El color del coche es incorrecto
        </span>
      </p>


      <button class="btn btn-success" type="submit" [disabled]="!formCoche.form.valid">Enviar</button>

    </form>
</div>

<div style="float: left; margin-left: 100px;">
  <h4>Listado de coches</h4>
  <ul class="list-group">
    <li *ngFor="let item of coches" class="list-group-item list-group-item-action">
      {{ item.nombre }} | {{ item.caballaje }} | {{ item.color }}

    </li>
  </ul>
</div>



<!--

<form [formGroup]="createForm" style="margin: 5% 25% 10% 10%;">

    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" formControlName="nombre" class="form-control"
        placeholder="anyade un nombre">


          <div *ngIf="createForm.get('nombre').invalid && (createForm.get('nombre').dirty || createForm.get('nombre').touched)"
            class="alert alert-danger">

            <div *ngIf="createForm.get('nombre').getError('required')">
              nombre is required.
            </div>
            <div *ngIf="createForm.get('nombre').getError('minlength')">
              nombre tiene un maximo de 4 caracteres.
            </div>

          </div>

    </div>

    <div class="form-group">
        <label for="caballaje">Caballaje</label>
        <input type="text" formControlName="caballaje" class="form-control"
        placeholder="anyade un cv">


            <div *ngIf="createForm.get('caballaje').invalid && (createForm.get('caballaje').dirty || createForm.get('caballaje').touched)"
            class="alert alert-danger">

            <div *ngIf="createForm.get('caballaje').getError('required')">
              caballaje is required.
            </div>
            <div *ngIf="createForm.get('caballaje').getError('maxlength')">
              caballaje tiene un maximo de 3 caracteres.
            </div>

          </div>

    </div>

    <div class="form-group">
        <label for="color">Color</label>
        <input type="text" formControlName="color" class="form-control"
        placeholder="anyade un color">


            <div *ngIf="createForm.get('color').invalid && (createForm.get('color').dirty || createForm.get('color').touched)"
            class="alert alert-danger">

            <div *ngIf="createForm.get('color').getError('required')">
              color is required.
            </div>
            <div *ngIf="createForm.get('color').getError('minlength')">
              color tiene un maximo de 4 caracteres.
            </div>

          </div>

    </div>

    <button class="btn btn-success" [disabled]='createForm.invalid'>Enviar</button>

</form>
 -->
