<p>coches works!</p>


<form style="margin: 5% 25% 10% 10%;" (ngSubmit)="onSubmit()">
  <p>
    <label>Nombre</label>
    <input type="text" name="nombre" [(ngModel)]="coche.nombre" required>
  </p>

  <p>
      <label>Caballaje</label>
      <input type="text" name="caballaje" [(ngModel)]="coche.caballaje" required>
  </p>


  <p>
      <label>Color</label>
      <input type="text" name="color" [(ngModel)]="coche.color" required>
  </p>


  <button class="btn btn-success" type="submit">Enviar</button>

</form>



<!--

<form [formGroup]="createForm" style="margin: 5% 25% 10% 10%;">

    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" formControlName="nombre" class="form-control"
        placeholder="anyade un nombre">


          <div *ngIf="createForm.get('nombre').invalid && (createForm.get('nombre').dirty || createForm.get('nombre').touched)"
            class="alert alert-danger">

            <div *ngIf="createForm.get('nombre').getError('required')">
              nombre is required.
            </div>
            <div *ngIf="createForm.get('nombre').getError('minlength')">
              nombre tiene un maximo de 4 caracteres.
            </div>

          </div>

    </div>

    <div class="form-group">
        <label for="caballaje">Caballaje</label>
        <input type="text" formControlName="caballaje" class="form-control"
        placeholder="anyade un cv">


            <div *ngIf="createForm.get('caballaje').invalid && (createForm.get('caballaje').dirty || createForm.get('caballaje').touched)"
            class="alert alert-danger">

            <div *ngIf="createForm.get('caballaje').getError('required')">
              caballaje is required.
            </div>
            <div *ngIf="createForm.get('caballaje').getError('maxlength')">
              caballaje tiene un maximo de 3 caracteres.
            </div>

          </div>

    </div>

    <div class="form-group">
        <label for="color">Color</label>
        <input type="text" formControlName="color" class="form-control"
        placeholder="anyade un color">


            <div *ngIf="createForm.get('color').invalid && (createForm.get('color').dirty || createForm.get('color').touched)"
            class="alert alert-danger">

            <div *ngIf="createForm.get('color').getError('required')">
              color is required.
            </div>
            <div *ngIf="createForm.get('color').getError('minlength')">
              color tiene un maximo de 4 caracteres.
            </div>

          </div>

    </div>

    <button class="btn btn-success" [disabled]='createForm.invalid'>Enviar</button>

</form>
 -->
